<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
  
  <div class="container">
    <header th:replace="fragments/header :: header('ログイン')"></header>
    <div class="box">
      <div class="block">
        <form th:action="@{/login}" method="POST" id="loginForm">
            <div class="field">
                <label for="userId">ユーザー名:</label>
                <input type="text" id="username" name="username" placeholder="ユーザー名を入力"/>
            </div>
            <div class="field">
                <label for="password">パスワード:</label>
                <input type="password" id="password" name="password" placeholder="パスワードを入力"/>
            </div>
        <input class="button is-small is-primary" type="submit" value="Login" />
        </form>
        <p th:if="${param.error}">名前かパスワードが間違っています</p>
      </div>
    
      <a class="block" th:href="@{/user/register}"><input class="button is-small is-primary" type="button" value="新規登録" /></a>
      <a class="block" th:href="@{/top}"><input class="button is-small is-primary" type="button" value="トップへ" /></a>
    </div>
  </div>
</body>
</html>