<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
        <form th:action="@{/login}" method="POST" id="loginForm">
          <div class="form-group">
              <label for="userId">ユーザーID：</label>
              <input type="text" id="username" name="username" placeholder="ユーザーIDを入力"/>
          </div>
          <div class="form-group">
              <label for="passwd">パスワード：</label>
              <input type="password" id="password" name="password" placeholder="パスワードを入力"/>
          </div>
          <button type="submit" >Login</button>
      </form>
      <p th:if="${param.error}">名前かパスワードが間違っています</p>
    </div>

    <a th:href="@{/user/register}">新規登録</a>
    <a th:href="@{/}"><input class="button" type="button" value="トップへ" /></a>
  </div>
</div>
</body>
</html>