<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: htmlhead(~{::title})">
        <meta charset="UTF-8">
        <title>パック修正</title>
    </head>

<body>
    <div th:replace="fragments/navigation::navigation('パック修正')"></div>
    <div class="container">
        <header th:replace="fragments/header :: header('パック修正')"></header>
        <form th:action="@{/packs/{packId}/update/register(packId=${packForm.getId()})}" th:object="${packForm}" method="post">
            <div class="box">
                <table class="table is-striped is-bordered">
                    <tr>
                    <td width="25%" rowspan = "5">
                            <input type="text" th:name="*{title}" th:field="*{title}" th:errorclass="input-error" placeholder="title">
                            <div style="color: red;" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                        </td>
                        <td width="75%">
                            <input type="text" th:field="*{words[0].word}" th:errorclass="input-error" placeholder="word">
                            <span style="color: red;" th:if="${#fields.hasErrors('*{words[0].word}')}" th:errors="*{words[0].word}"></span>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                        <input type="text" th:field="*{words[1].word}" th:errorclass="input-error" placeholder="word">
                        <span style="color: red;" th:if="${#fields.hasErrors('*{words[1].word}')}" th:errors="*{words[1].word}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" th:field="*{words[2].word}" th:errorclass="input-error" placeholder="word">
                            <span style="color: red;" th:if="${#fields.hasErrors('*{words[2].word}')}" th:errors="*{words[2].word}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" th:field="*{words[3].word}" th:errorclass="input-error" placeholder="word">
                            <span style="color: red;" th:if="${#fields.hasErrors('*{words[3].word}')}" th:errors="*{words[3].word}"></span>
                        </td>
                    </tr>
                    <tr>   
                        <td>
                            <input type="text" th:field="*{words[4].word}" th:errorclass="input-error" placeholder="word">
                            <span style="color: red;" th:if="${#fields.hasErrors('*{words[4].word}')}" th:errors="*{words[4].word}"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <p>
                <input id="update-form" input class="button is-small" type="submit" value="完了">
                <a th:href="@{/packs/detail/{packId}(packId=${packId})}"><input class="button is-small" type="button" value="戻る" /></a>
            </p>
        </form>
    </div>
</body>

</html>