<!DOCKTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: htmlhead(~{::title})">
        <meta charset="UTF-8">
        <title>ユーザ情報</title>
    </head>
    <body>
        <div id="header" th:replace="fragments/navigation :: navigation('ユーザ情報')"></div>
        <header th:replace="fragments/header :: header('ユーザ情報')"></header>

        <table>
            <tr>
                <th>項目</th>
                <th>内容</th>
            </tr>
            <tr>
                <td>UserName</td>
                <td><span sec:authentication="principal.username"></span></td>
            </tr>
        </table>
        <a th:href="@{/logout}">ログアウト</a>

        お気に入りカード
        <div class="m-1 card" th:each="pack , stat : ${likedPacks}">
            <div class="card-content">
                <table>
                <tbody>
                    <tr>
                        <td width="25%" rowspan = "5" th:text="${pack.getTitle()}" >
                        <td width="75%" th:text="${pack.getWords.get(0).getCharacterString()}" >
                    </tr>
                    <tr><td th:text="${pack.getWords().get(1).getCharacterString()}" ></tr>
                    <tr><td th:text="${pack.getWords().get(2).getCharacterString()}" ></tr>
                    <tr><td th:text="${pack.getWords().get(3).getCharacterString()}" ></tr>
                    <tr><td th:text="${pack.getWords().get(4).getCharacterString()}" ></tr>
                </tbody>
                </table>
            </div>
        </div>

    </body>
</html>