<!DOCKTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: htmlhead(~{::title})">
        <meta charset="UTF-8">
        <title>ユーザ情報</title>
    </head>
    <body>
        <div id="header" th:replace="fragments/navigation :: navigation('ユーザ情報')"></div>

        <div class="container">
        <header th:replace="fragments/header :: header('ユーザ情報')"></header>

        <div class="columns is-multiline">
            <div class="column is-4">
                <div class="box">
                    <div class="block">
                        ユーザ名:<span sec:authentication="principal.username"></span>
                    </div>
                    <div class="block">
                        <a th:href="@{/logout}"><input class="button is-small is-primary" type="button" value="ログアウト" /></a>
                    </div>
                </div>
            </div>
            <div class="column is-8">
                <div class="block">作ったカード</div>

                <div class="box" th:each="pack , stat : ${producedPacks}">
                        <table class="table is-striped is-bordered">
                        <tbody>
                            <tr>
                                <td width="40%" rowspan = "5" th:text="${pack.getTitle()}" >
                                <td width="40%" th:text="${pack.getWords.get(0)}" >
                                <td width="20%" rowspan = "5">
                                    
                                    <div class="block">
                                        <a th:href="@{/packs/detail/{packId}(packId=${pack.getId()})}"><input class="button is-small is-primary" type="button" value="詳細"/></a>
                                    </div>
                                    <div class="block" sec:authorize="hasRole('USER')">
                                        <th:block th:if="${pack.getIsLiked()}">
                                            <a th:href="@{/like/{packId}/{fromPage}(packId=${pack.getId()},fromPage=usersDetail)}"><input class="button is-small is-primary" type="button" value="お気に入り解除"/></a>
                                        </th:block>
                                        <th:block th:if="${!pack.getIsLiked()}">
                                            <a th:href="@{/like/{packId}/{fromPage}(packId=${pack.getId()},fromPage=usersDetail)}"><input class="button is-small is-primary" type="button" value="お気に入り"/></a>
                                        </th:block>
                                    </div>
                                    <div class="block">
                                        製作者:<a th:href="@{/users/product/from{packId}(packId=${pack.getId()})}"><span th:text="${pack.getCreator()}"></span></a>
                                    </div>
                                </td>
                            </tr>
                            <tr><td th:text="${pack.getWords().get(1)}" ></tr>
                            <tr><td th:text="${pack.getWords().get(2)}" ></tr>
                            <tr><td th:text="${pack.getWords().get(3)}" ></tr>
                            <tr><td th:text="${pack.getWords().get(4)}" ></tr>
                        </tbody>
                        </table>
                </div>

                <div class="block">お気に入りカード</div>

                <div class="box" th:each="likedPack , stat : ${likedPacks}">
                    <table class="table is-striped is-bordered">
                    <tbody>
                        <tr>
                            <td width="40%" rowspan = "5" th:text="${likedPack.getTitle()}" >
                            <td width="40%" th:text="${likedPack.getWords.get(0)}" >
                            <td width="20%" rowspan = "5">
                                <div class="block">
                                    <th:block th:if = "${!likedPack.getIsUsed()}">
                                        <a th:href="@{/packs/shuffle/{packId}/listAdd/{fromPage}(packId=${likedPack.getId()},fromPage=usersDetail)}"><input class="button is-small is-primary" type="button" value="使用"/></a>
                                    </th:block>
                                    <th:block th:if = "${likedPack.getIsUsed()}">
                                        <a th:href="@{/packs/shuffle/{packId}/listRemove/{fromPage}(packId=${likedPack.getId()},fromPage=usersDetail)}"><input class="button is-small is-primary" type="button" value="使用キャンセル"/></a>
                                    </th:block>
                                </div>
                                
                                <div class="block">
                                    <a th:href="@{/packs/detail/{packId}(packId=${likedPack.getId()})}"><input class="button is-small is-primary" type="button" value="詳細"/></a>
                                </div>
                                <div class="block" sec:authorize="hasRole('USER')">
                                    <th:block th:if="${likedPack.getIsLiked()}">
                                        <a th:href="@{/like/{packId}/{fromPage}(packId=${likedPack.getId()},fromPage=usersDetail)}"><input class="button is-small is-primary" type="button" value="お気に入り解除"/></a>
                                    </th:block>
                                    <th:block th:if="${!likedPack.getIsLiked()}">
                                        <a th:href="@{/like/{packId}/{fromPage}(packId=${likedPack.getId()},fromPage=usersDetail)}"><input class="button is-small is-primary" type="button" value="お気に入り"/></a>
                                    </th:block>
                                </div>
                                <div class="block">
                                    製作者:<a th:href="@{/users/product/from{packId}(packId=${likedPack.getId()})}"><span th:text="${likedPack.getCreator()}"></span></a>
                                </div>
                            </td>
                        </tr>
                        <tr><td th:text="${likedPack.getWords().get(1)}" ></tr>
                        <tr><td th:text="${likedPack.getWords().get(2)}" ></tr>
                        <tr><td th:text="${likedPack.getWords().get(3)}" ></tr>
                        <tr><td th:text="${likedPack.getWords().get(4)}" ></tr>
                    </tbody>
                    </table>
                </div>
            </div>
</div>

    </body>
</html>