<!DOCKTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: htmlhead(~{::title})">
        <meta charset="UTF-8">
        <title>シャッフル詳細</title>
    </head>
<body>
    <header th:replace="fragments/navigation::navigation('シャッフル詳細')"></header>
    <form th:object="${shuffleDetailForm}" th:action="@{/packs/shuffle/detail/update}" method="post">
        <p>
            <label="name">最大文字数</label>
            <input type="text" th:field="*{wordSize}" th:errorclass="input-error">
            <span style="color: red;" th:if="${#fields.hasErrors('*{wordSize}')}" th:errors="*{wordSize}"></span>
        </p>
        <p>
            <label="name">最大単語数</label>
            <input type="text" th:field="*{wordCount}" th:errorclass="input-error">
            <span style="color: red;" th:if="${#fields.hasErrors('*{wordCount}')}" th:errors="*{wordCount}"></span>
        </p>

        <p>
            <input id="update-form" type="submit" value="完了">
        </p>
    </form>
    <p>
        <a th:href="@{/packs/shuffle/listReset}" ><input type="button" value="単語リストリセット" /></a>
    </p>

    <table>
        <caption>word List</caption>
        <thead>
            <tr>
                <th scope="col">pack title</th>
                <th scope="col">word</th>
            </tr>
        </thead>
    
        <tbody th:each="pack: ${shuffleDetailForm.getSelectPack()}">
            <tr>
            <td rowspan = "5" th:text="${pack.title.value}" />
            <td th:text="${pack.getWords.get(0).characterString.value}" />
            <td rowspan= "5"> 
                <a th:href="@{/packs/shuffle/{packId}/listRemove(packId=${pack.getId})}">リストから削除</a>
            </td>
            </tr>
            <tr><td th:text="${pack.getWords().get(1).characterString.value}" /></tr>
            <tr><td th:text="${pack.getWords().get(2).characterString.value}" /></tr>
            <tr><td th:text="${pack.getWords().get(3).characterString.value}" /></tr>
            <tr><td th:text="${pack.getWords().get(4).characterString.value}" /></tr>
        </tbody>
    </table>

</body>
</html>
