<!DOCKTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: htmlhead(~{::title})">
        <meta charset="UTF-8">
        <title>シャッフル結果</title>
    </head>
<body>
    <header th:replace="fragments/navigation::navigation('シャッフル結果')"></header>
    <p th:text="${word}"></p>
    <a th:href="@{/}"><input class="button is-small" type="button" value="戻る" /></a>
    <a th:href="@{/packs/shuffle}"><input class="button is-small" type="button" value="もう一回" /></a>
</body>
</html>
