<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ナビゲーションバー</title>
    </head>

    <body>
        <header class="hero is-primary" th:fragment="navigation(active)">
            <nav class="navbar">
                <div>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menu">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="menu" class="navbar-menu is-flux">
                    <a class="navbar-item" th:classappend="${active.equals('トップページ')} ? 'is-active' : ''" th:href="@{/}">
                        <span>トップページ</span>
                    </a>

                    <a class="navbar-item" th:classappend="${active.equals('パック作成')} ? 'is-active' : ''" th:href="@{/packs/register}">
                        <span>パック作成</span>
                    </a>

                    <a class="navbar-item" th:classappend="${active.equals('シャッフル結果')} ? 'is-active' : ''" th:href="@{/packs/shuffle}">
                        <span>シャッフル結果</span>
                    </a>

                    <a class="navbar-item" th:classappend="${active.equals('シャッフル詳細')} ? 'is-active' : ''" th:href="@{/packs/shuffle/detail}">
                        <span>シャッフル詳細</span>
                    </a>
                    <a class="navbar-item" th:classappend="${active.equals('ユーザ情報')} ? 'is-active' : ''" th:href="@{/users/detail}">
                        <span>ユーザ情報</span>
                    </a>
                </div>
            </nav>
        </header>
    </body>
</html>