<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmls:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
    <meta charset="UTF-8">
    <title>パック詳細</title>
</head>

<body>
<header th:replace="fragments/navigation::navigation('')"></header>
<div class="container">
    <header th:replace="fragments/header :: header('パック詳細')"></header>
    <div class="box" th:object="${pack}">
            <table class="table is-striped is-bordered">
                <tbody>
                    <tr>
                        <td width="40%" rowspan = "5" th:text="*{getTitle()}"></td>
                        <td width="40%" th:text="*{getWords().get(0)}"></td>
                        <td width="20%" rowspan = "5">
                            <div class="block">
                                <th:block th:if = "${!pack.getIsUsed()}">
                                    <a th:href="@{/packs/shuffle/{packId}/listAdd/{fromPage}(packId=${pack.getId()},fromPage=packsDetail)}"><input class="button is-small is-primary" type="button" value="使用"/></a>
                                </th:block>
                                <th:block th:if = "${pack.getIsUsed()}">
                                    <a th:href="@{/packs/shuffle/{packId}/listRemove/{fromPage}(packId=${pack.getId()},fromPage=packsDetail)}"><input class="button is-small is-primary" type="button" value="使用キャンセル"/></a>
                                </th:block>
                            </div>
                            <div class="block" sec:authorize="hasRole('USER')">
                                <th:block th:if="${pack.getIsLiked()}">
                                    <a th:href="@{/like/{packId}/{fromPage}(packId=${pack.getId()},fromPage=packsDetail)}"><input class="button is-small is-primary" type="button" value="お気に入り解除"/></a>
                                </th:block>
                                <th:block th:if="${!pack.getIsLiked()}">
                                    <a th:href="@{/like/{packId}/{fromPage}(packId=${pack.getId()},fromPage=packsDetail)}"><input class="button is-small is-primary" type="button" value="お気に入り"/></a>
                                </th:block>
                            </div>
                            <div class="block">
                                製作者:<a th:href="@{/users/product/from{packId}(packId=${pack.getId()})}"><span th:text="${pack.getCreator()}"></span></a>
                            </div>
                        </td>
                    </tr>
                    <tr><td th:text="*{getWords().get(1)}"></td></tr>
                    <tr><td th:text="*{getWords().get(2)}"></td></tr>
                    <tr><td th:text="*{getWords().get(3)}"></td></tr>
                    <tr><td th:text="*{getWords().get(4)}"></td></tr>
                </tbody>
            </table>
    </div>




    
    <div class="block">
        <a th:href="@{/top}"><input class="button is-small is-primary" type="button" value="トップへ"/></a>
    </div>



    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/packs/{packId}/update(packId=${pack.getId()})}"><input class="button is-small is-primary" type="button" value="編集"/></a>
        <a th:href="@{/packs/{packId}/delete(packId=${pack.getId()})}"><input class="button is-small is-primary" type="button" value="削除"/></a>
    </div>
</div>
</body>

</html>