<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmls:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
    <meta charset="UTF-8">
    <title>パック詳細</title>
</head>

<body>
<header th:replace="fragments/navigation::navigation('')"></header>

<main class="container">
    <header th:replace="fragments/header :: header('パック詳細')"></header>
    <div th:object="${pack}">
        <p th:text="*{getTitle().getValue()}"></p>
        <p>ワード1:</p>
        <p th:text="*{getWords().get(0).getCharacterString()}"></p>
        <p>ワード2:</p>
        <p th:text="*{getWords().get(1).getCharacterString()}"></p>
        <p>ワード3:</p>
        <p th:text="*{getWords().get(2).getCharacterString()}"></p>
        <p>ワード4:</p>
        <p th:text="*{getWords().get(3).getCharacterString()}"></p>
        <p>ワード5:</p>
        <p th:text="*{getWords().get(4).getCharacterString()}"></p>
        <p>
            <a th:href="@{/}"><input type="button" value="戻る"/></a>
        </p>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/packs/{packId}/update(packId=${pack.getId()})}">編集</a>
    <a th:href="@{/packs/{packId}/delete(packId=${pack.getId()})}">削除ページへ</a>
    </div>
</main>


</body>

</html>