<!DOCKTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: htmlhead(~{::title})">
        <meta charset="UTF-8">
        <title>トップページ</title>
    </head>
<body>
    <div id="header" th:replace="fragments/navigation :: navigation('トップページ')"></div>
    <header th:replace="fragments/header :: header('トップページ')"></header>
<table>
    <caption>word List</caption>
    <thead>
        <tr>
            <th scope="col">pack title</th>
            <th scope="col">word</th>
        </tr>
    </thead>
    
    <tbody th:each="pack , stat : ${packs}" th:object="${shuffleList}">
        <tr>
            <td rowspan = "5" th:text="${pack.getTitle()}" />
            <td th:text="${pack.getWords.get(0)}" />
            <td rowspan= "5"> 
                    <a th:href="@{/packs/{packId}(packId=${pack.getId()})}">詳細</a>
            </td>
            <td rowspan= "5"> 
                <th:block th:if = "${!pack.getUsing()}">
                    <a th:href="@{/packs/shuffle/{packId}/listAdd(packId=${pack.getId()})}"><input type="submit" value="追加"/></a>
                </th:block>
                <th:block th:if = "${pack.getUsing()}">
                    <a th:href="@{/packs/shuffle/{packId}/listRemoveFromTop(packId=${pack.getId()})}"><input type="submit" value="使用キャンセル"/></a>
                </th:block>
            </td>
        </tr>
        <tr><td th:text="${pack.getWords().get(1)}" /></tr>
        <tr><td th:text="${pack.getWords().get(2)}" /></tr>
        <tr><td th:text="${pack.getWords().get(3)}" /></tr>
        <tr><td th:text="${pack.getWords().get(4)}" /></tr>
    </tbody>
</table>
</body>
</html>
