<!DOCKTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top page</title>
    <style type="text/css">
    <!--
        table{
            border-collapse: collapse;
        }
        th,td{
            border: 1px darkgray solid;
            padding: 0.2em 0.5em;
        }
    -->
    </style>
</head>
<body>
    <a th:href="@{/}"><input type="button" value="パッケージ選択へ" /></a>
</body>
</html>